
{{> header}}
{{> nav}}  
<form action="/books" id="new-book", method="POST">
    <fieldset>
        <legend>New Book</legend>

        <!--Book Name-->
        <p>
            <label for="book-name">Book Name</label><br>
            <input id="book-name" type="text" name="name" />
        </p>

           <!--Author-->
        <p>
            <label for="book-category">Author</label><br>
            <input id="book-author" type="text" name="author" />
        </p>

         <!--Category-->
        <p>
            <label for="book-category">Category</label><br>
            <input id="book-category" type="text" name="category" />
        </p>

         <!--Photos-->
        <p>
            <label for="photos">Photos</label><br>
            <input id="photos" type="text" name="photos"/>
        </p>

        <!-- recording -->
        <p>
           <label for="recording">Recording</label><br>
           <input id="recording" type="recording" name="recording"/>
       </p>

          <!-- page-one -->
        <p>
           <label for="page-one">Page One</label><br>
           <textarea id="page-one" type="" name="pageOne"></textarea>
       </p>

           <!-- page-two -->
        <p>
           <label for="page-two">Page Two</label><br>
           <textarea id="page-one" type="text" name="pageTwo"></textarea>
       </p>

           <!-- page-three -->
        <p>
           <label for="page-three">Page Three</label><br>
           <textarea id="page-three" type="text" name="pageThree"></textarea>
       </p>

           <!-- page-four -->
        <p>
           <label for="page-four">Page Four</label><br>
           <textarea id="page-four" type="text" name="pageFour"></textarea>
       </p>

           <!-- page-five -->
        <p>
           <label for="page-five">Page Five</label><br>
           <textarea id="page-five" type="text" name="pageFive"></textarea>
       </p>

           <!-- page-six -->
        <p>
           <label for="page-six">Page Six</label><br>
           <textarea id="page-six" type="text" name="pageSix"></textarea>
       </p>

           <!-- page-seven -->
        <p>
           <label for="page-seven">Page Seven</label><br>
           <textarea id="page-seven" type="text" name="pageSeven"></textarea>
       </p>

           <!-- page-eight -->
        <p>
           <label for="page-eight ">Page Eight</label><br>
           <textarea id="page-eight " type="text" name="pageEight "></textarea>
       </p>

           <!-- page-one -->
        <p>
           <label for="page-nine">Page Nine</label><br>
           <textarea id="page-nine" type="text" name="pageNine"></textarea>
       </p>

           <!-- page-nine -->
        <p>
           <label for="page-ten">Page Ten</label><br>
           <textarea id="page-ten" type="text" name="pageTen"></textarea>
       </p>


    </fieldset>

<!-- SAVE BUTTON -->
    <p>
       <button type="submit">Save Book</button>
    </p>
</form>