{{> header}}
{{> nav}}
<div class="row" id="profile-form">
    <div class="col-sm-6 col-sm-offset-3">
            <form action="/users/new" method="POST">
                <fieldset>
                    <legend class="profile-title">User Profile</legend>
                
                    <!--USER NAME-->
                    <div class="form-group">
                        <label for="username">Username</label><br>
                        <input class="form-control" id="username" type="text" name="username" placeholder="Enter username"/>
                    </div>
                    <!--PASSWORD-->
                    <div class="form-group">
                        <label for="password">Password</label><br>
                        <input class="form-control" id="password" type="password" name="password" placeholder="Password"/>
                    </div>
                     <!--USER EMAIL ADDRESS-->
                    <div class="form-group">
                        <label for="emailAddress">Email Address</label><br>
                        <input class="form-control" id="emailAddress" name="emailAddress" placeholder="Email"/>
                    </div>

                    <!--USER ADDRESS-->
                   <div class="form-group">
                       <label for="user-address">Address</label><br>
                       <input class="form-control" id="user-address" type="text" name="address" placeholder="Address"/>
                   </div>

                    <!-- User PREFERENCE -->

                    <!-- DIET -->
                    <label for="diet" >Diet:</label>
                    <select id="diet" name="diet">
                      <option value="vegan">Vegan</option>
                      <option value="vegetarian">Vegetarian</option>
                      <option value="carnivore">Carnivore</option>
                      <option value="vegan">I do not eat</option>
                </select>
                <br>

                    <!-- ALLERGY -->
                    <label for="allergy">Allergy:</label>
                    <select name="allergy">
                      <option value="gluten-free">Gluten-Free</option>
                      <option value="wheat-free">Wheat-Free</option>
                      <option value="nut-free">Nut-Free</option>
                       <option value="nut-free">Seafood</option>
                      <option value="gluten-free">No Allergies</option>
                  </select><br>

                    <!-- CALORIE INTAKE -->
                    <label for="calorieIntake">Calorie Intake:</label>
                    <select name="calorieIntake">
                      <option value="400g">400g</option>
                      <option value="350g">350g</option>
                      <option value="600g">700g</option>
                    </select>
                    <br>

                    <!-- VITAMINS -->
                    <label for="vitamins">Vitamins:</label>
                    <select name="vitamins">
                      <option value="included">Included</option>
                      <option value="not included">Not Included</option>
                    </select>
                </fieldset>

                <!-- SAVE BUTTON -->
                <div class="form-group">
                   <button class="btn btn-primary" id="save-btn" type="submit">Save Preference</button>
               </div>
            </form>
            <!-- CANCEL LINK -->
            <a href="/">Cancel</a>

            <div class="dietary-info">
                <h5>Dietary Guidelines/Recommandations Below: </h5>
                <a href="https://www.usda.gov/topics/food-and-nutrition">USDA</a><br>
                <a href="#">Vegan</a><br>
                <a href="#">Vegetarian</a><br>
                <a href="#">Calorie Intake Recommandations</a><br>
                <a href="#">Vitamin Recommandations</a><br>
                <a href="#">Allergies</a><br>
            </div>
    </div>
</div>