<!DOCTYPE html>
<html lang="en">
    {{> header}}

      <div class="main">
        <div class="container" style="display: none">

        </div>
        {{{body}}}
      </div>

    {{> footer}}
</body>
</html>