{{> header}}
{{> nav}}

<img class="logo" src="./public/1.png" />

{{!-- <div class="video">
<video width="320" height="240" autoplay>
  <source src="/public/video.webm" type="video/webm">
  <source src="movie.ogg" type="video/ogg">
Your browser does not support the video tag.
</video>
</div> --}}