html, body {
    font-family: Lato;
  }


h1 {
    color: #8ccdb0;
}

label {
    color: #8ccdb0;
}

body {
    background-color: #8D50F7;
}

a.nav-link {
    color: #8ccdb0;
}


legend {
    color: #8ccdb0;
}

button.btn.btn-primary {
    background-color: #8ccdb0 !important;
    border-color: #8ccdb0 !important;
}
