html, body {
    font-family: Lato;
  }


h1 {
    color: #8ccdb0;
}

img.error {
  padding-left: 400px;
}

img.logo {
    padding-left: 400px;
  }

label {
    color: #8ccdb0;
}

body {
    background-color: #8D50F7;
}

.navbar-dark .navbar-brand {
    color: #8ccdb0;
}

.navbar-dark .navbar-nav .nav-link  {
    color: #8ccdb0;
}

.account-view-title {
    color: #8ccdb0;
}

h1.homepage {
    text-align: center;
    margin-bottom: 50px;
}

.btn-primary {
    background-color: #f6af42;
    border-color: #f6af42;
}

legend {
    color: #8ccdb0; 
}

.navbar-dark .navbar-brand
legend {
    color: #8ccdb0;
}

button.btn.btn-primary {
    background-color: #8ccdb0 !important;
    border-color: #8ccdb0 !important;
}

.btn-danger {
    background-color: #8ccdb0 !important;
    border-color: #abdfc7 !important;
}


p.text-muted {
    padding-left: 600px;
}

.show-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

audio, video {
    width: 32%;
}


input[type="submit" i] {
    color: #f6af42;
}

img.img-page {
    width: 100px;
}


form {
    margin-left: 300px;
    
}

.form-control {
    width: 57%;
}
/* a {
    color: #8ccdb0 !important;
} */

.form-h1 {
   margin-top: 50px;
}