{{> header}}
{{> nav}}
<div class="row" id="profile-form">
    <div class="col-sm-6 col-sm-offset-3">
        <form action='/users/login' method='post'>
            <fieldset>
                <legend>Login</legend>
                <!--USERNAME-->
                <div class="form-group">
                    <input class="form-control" type='text' name='username' placeholder='username'>
                </div>
                <!--PASSWORD-->
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <!--BUTTON-->
                <div class="form-group">
                    <button class="btn btn-primary">Login</button>
                </div>
            </fieldset>
        </form>
        <a href='/'>Go Back</a>
    </div>
</div>